#topbar.topbar
    #menu-btn.bar-item 
        i(class=icons('solar:list-bold'))
    #search-btn.bar-item 
        i(class=icons('ri:search-line'))
    #loading.invisible 
        span.bar 

                
    